
extends ../../layout/main/main.pug

block content 
  div.login
    div.form
      h2.form__title Вход 
      form
        input(name="login", placeholder="Логин", type="text").form__input
        input(name="password", placeholder="Пароль", type="password").form__input
        button.button Войти 
      div.form__descr
        span Вы новый пользователь? 
        a(href="#").form__link Зарегестрироваться
      div.form__descr
        span Забыли пароль? 
        a(href="#").form__link Восстановить пароль
    
